# language: python
os:
  - linux
cache:
  directories:
  - docker_images
before_install:
  - docker load -i docker_images/images.tar || true
before_cache:
  - docker save -o docker_images/images.tar $(docker images -a -q)
services:
  - docker
# before_install:

script:
  # - ./build.sh jupyter 1.01
  # - ./build.sh ubuntu  0.1
  #- ./build.sh node    10
  - ./build.sh tex    0.2